
@media screen and (min-width: 600px) {
    .questionBlock {
        flex-direction: row;
    }
    
}

.questionCard {
    flex: 3;
}

.questionImage {
    flex: 1;
    height: 100%;
    width: auto;
    margin-top: 10px;
    max-width: 100%;
  }

#pagesLabel {
    display: flex;
    align-self: center;
}

#pagination {
    display: flex;
    gap: 5px;
    width: 100%;
}

.incorrect {
    background-color: #FECACA;
    color: #7F1D1D;
    padding: 10px;
    margin-top: 10px;
}

#qIndex button#submitQuiz {
    border: 1px solid #84CC16;
    padding: 5px 20px;
}
#qIndex button#submitQuiz:hover {
    color:white;
    background-color: #84CC16;
}