.questionBlock {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 40px 10px;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0px 0px 20px #E2E8F0;
    object-fit: none;
    place-items: flex-start;
}

@media screen and (min-width: 600px) {
    .questionBlock {
        flex-direction: row;
    }
    
}

.answers{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    line-height: 150%;
}

.questionCard {
    flex: 3;
}

.questionImage {
    flex: 1;
    height: 100%;
    width: auto;
    margin-top: 10px;
    max-width: 100%;
  }

.question{
    font-weight: 700;
    font-size: 1.2rem;
}


.answers input[type=radio] {
    margin-right: 10px;
}

#pagesLabel {
    display: flex;
    align-self: center;
}

#pagination {
    display: flex;
    gap: 5px;
    width: 100%;
}

.incorrect {
    background-color: #FECACA;
    color: #7F1D1D;
    padding: 10px;
    margin-top: 10px;
}

#qIndex button#submitQuiz {
    border: 1px solid #84CC16;
    padding: 5px 20px;
}
#qIndex button#submitQuiz:hover {
    color:white;
    background-color: #84CC16;
}