node_modules
.project

src/frontEnd/css/style.css
src/frontEnd/docs/FormulasCAT1.synctex.gz
src/frontEnd/docs/FormulasCAT1.log
src/frontEnd/docs/FormulasCAT1.fls
src/frontEnd/docs/FormulasCAT1.fdb_latexmk
src/frontEnd/docs/FormulasCAT1.aux
node_modules
*.env2


